.primary-navigation[data-visible='true']{
	transform: translateX(0%);
}
.line {
	width: 40px;
	height: 5px;
	background: white;
	margin: 6px;
}
.primary-navigation{
	--gap: 2em;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 5vh;
	transform: translateX(100%);
/*	background: hsl(0, 0%, 100%, 0.1);
	backdrop-filter:  blur(15px);*/
	background: grey;
	transition: transform 350ms ease-out;
	z-index: 2;
}
ul {
  list-style-type: none;
}